body{
  background-image: url(assets/4ccaf3b8a32b9b04dc65833055c0dc34.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /* OPTIONAL */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-container{
  backdrop-filter: blur(35px);
  width: 100vw;
  padding: 55px 0;
}
.clock{
  color: white;
  font-size: 25rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.95);
}
